<a href="https://colab.research.google.com/github/salwardt1/CIDM5310/blob/main/Activity2_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas library
import pandas as pd

In [ ]:
# Read data file
fname = 'US_GDP.csv'
GDP_data = pd.read_csv(fname)

In [ ]:
# Display data
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [ ]:
# Inspect object types
GDP_data.dtypes

date     object
GDP     float64
dtype: object

In [ ]:
# Convert date column to timestamp
GDP_data['date'] = pd.to_datetime(GDP_data['date'])

In [ ]:
# Replace index with date column
GDP_data.set_index('date', inplace = True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [ ]:
# Save to new file
GDP_data.to_csv('US_GDP_date_index.csv')